.settings-layout {
    -fx-background-color: rgb(215, 220, 220);
}

.settings-title {
    -fx-text-fill: rgb(20, 25, 25);
}

.content-pane,  {
    -fx-background-color: transparent;
}

.addons-title {
    -fx-text-fill: rgb(20, 25, 25);
}

.addons-mods {
    -fx-width: 200px;
    -fx-height: 25px;
    -fx-text-fill: rgb(20, 25, 25);


}

.addons-mods .box {
    -fx-border-width: 0;
    -fx-border-radius: 10px;
    -fx-background-color: rgb(240, 240, 240);
}

.addons-mods:selected .box {
    -fx-background-color: #1E90FF;
}

.addons-mods:selected .box .mark {
    visibility: hidden;
}
